groups:
    - name: sap-hana-alerts
      rules:
        - alert: SapHanaHighCpuUtilization
          annotations:
            description: The CPU usage is at {{ printf "%.2f" $value }}% on {{$labels.core}} on {{$labels.host}} which is above the threshold of 80%.
            summary: CPU utilization is high.
          expr: |
            sum without (database_name) (hanadb_cpu_busy_percent{job="integrations/sap-hana"}) > 80
          for: 5m
          labels:
            severity: critical
        - alert: SapHanaHighPhysicalMemoryUsage
          annotations:
            description: The physical memory usage is at {{ printf "%.2f" $value }}% on {{$labels.host}} which is above the threshold of 80%.
            summary: Current physical memory usage of the host is approaching capacity.
          expr: |
            100 * sum without (instance) (hanadb_host_memory_resident_mb{job="integrations/sap-hana"}) / sum without (instance) (hanadb_host_memory_physical_total_mb{job="integrations/sap-hana"}) > 80
          for: 5m
          labels:
            severity: critical
        - alert: SapHanaMemAllocLimitBelowRecommendation
          annotations:
            description: The memory allocation limit is set at {{ printf "%.2f" $value }}% on {{$labels.host}} which is below the recommended value of 90%.
            summary: Memory allocation limit set below recommended limit.
          expr: |
            100 * sum without (instance) (hanadb_host_memory_alloc_limit_mb{job="integrations/sap-hana"}) / sum without (instance) (hanadb_host_memory_physical_total_mb{job="integrations/sap-hana"}) < 90
          for: 5m
          labels:
            severity: warning
        - alert: SapHanaHighMemoryUsage
          annotations:
            description: The memory usage is at {{ printf "%.2f" $value }}% on {{$labels.host}} which is above the threshold of 80%.
            summary: Current SAP HANA memory usage is approaching capacity.
          expr: |
            100 * sum without (instance) (hanadb_host_memory_used_total_mb{job="integrations/sap-hana"}) / sum without (instance) (hanadb_host_memory_alloc_limit_mb{job="integrations/sap-hana"}) > 80
          for: 5m
          labels:
            severity: critical
        - alert: SapHanaHighDiskUtilization
          annotations:
            description: The disk usage is at {{ printf "%.2f" $value }}% on {{$labels.host}} which is above the threshold of 80%.
            summary: SAP HANA disk is approaching capacity.
          expr: |
            100 * sum without (instance) (hanadb_disk_total_used_size_mb{job="integrations/sap-hana"}) / sum without (instance) (hanadb_disk_total_size_mb{job="integrations/sap-hana"}) > 80
          for: 5m
          labels:
            severity: critical
        - alert: SapHanaHighSqlExecutionTime
          annotations:
            description: The average SQL execution time is at {{ printf "%.2f" $value }}s on {{$labels.host}} which is above the threshold of 1s.
            summary: SAP HANA SQL average execution time is high.
          expr: |
            avg without (database_name, port, service, sql_type) (hanadb_sql_service_elap_per_exec_avg_ms{job="integrations/sap-hana"}) / 1000 > 1
          for: 5m
          labels:
            severity: critical
        - alert: SapHanaHighReplicationShippingTime
          annotations:
            description: The average system replication log shipping delay is at {{ printf "%.2f" $value }}s from primary site {{$labels.site_name}} to replica site {{$labels.secondary_site_name}} which is above the threshold of 1s.
            summary: SAP HANA system replication log shipping delay is high.
          expr: |
            avg without (database_name, port, secondary_port, replication_mode) (hanadb_sr_ship_delay{job="integrations/sap-hana"}) > 1
          for: 5m
          labels:
            severity: critical
        - alert: SapHanaReplicationStatusError
          annotations:
            description: The replication status of replica {{$labels.secondary_site_name}} is ERROR
            summary: SAP HANA system replication status signifies an error.
          expr: |
            hanadb_sr_replication{job="integrations/sap-hana"} == 4
          for: 5m
          labels:
            severity: critical
