.sunburst {
  position: relative;
}

.sunburst svg {
  overflow: visible;
}

.sunburst text {
  color: hsl(192, 10%, 33%);
}

.sunburst path {
  stroke: #fff;
  stroke-width: 0.2px;
}

.sunburst text {
  font-size: 12px;
}

.sunburst .sunburstTitle {
  font-weight: bold;
}

.sunburst .legend {
  transition: opacity 0.6s ease;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 0;
  width: 100%;
  opacity: 0.7;
  text-align: center;
}

.sunburst .legend.active {
  opacity: 1;
}
.sunburst table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.sunburst table td {
  border-color: #ccc;
}
