.sunburst {
  position: relative;
}

.sunburst svg {
  overflow: visible;
}

.sunburst text {
  color: hsl(192, 10%, 33%);
}

.sunburst path {
  stroke: #fff;
  stroke-width: 1px;
}

.sunburst text {
  font-size: 12px;
}

.sunburst .sunburstTitle {
  font-weight: bold;
}

.sunburst .legend {
  transition: opacity 0.6s ease;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 0;
  width: 100%;
  opacity: 0.7;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.sunburst .count {
  text-align: center;
}

.sunburst .legend.active {
  opacity: 1;
}
.sunburst .topoffenders table {
  width: 100%;
  font-size: 0.9rem;
  text-align: left;
  border-collapse: collapse;
}
.sunburst .topoffenders td {
  border-top: 1px solid #ddd;
  padding: 0.5rem 0;
}
.sunburst .topoffenders th {
  padding: 0.5rem 0;
}
.sunburst .topoffenders .alignright {
  text-align: right;
}
.sunburst .topoffenders .tablekey {
  word-break: break-all;
}
