groups:
    - name: apache-activemq-alerts
      rules:
        - alert: ApacheActiveMQHighTopicMemoryUsage
          annotations:
            description: '{{ printf "%.0f" $value }} percent of memory used by topics on {{$labels.instance}} in cluster {{$labels.activemq_cluster}}, which is above the threshold of 70 percent.'
            summary: Topic destination memory usage is high, which may result in a reduction of the rate at which producers send messages.
          expr: |
            sum without (destination) (activemq_topic_memory_percent_usage}) > 70
          for: 5m
          labels:
            severity: warning
        - alert: ApacheActiveMQHighQueueMemoryUsage
          annotations:
            description: '{{ printf "%.0f" $value }} percent of memory used by queues on {{$labels.instance}} in cluster {{$labels.activemq_cluster}}, which is above the threshold of 70 percent.'
            summary: Queue destination memory usage is high, which may result in a reduction of the rate at which producers send messages.
          expr: |
            sum without (destination) (activemq_queue_memory_percent_usage) > 70
          for: 5m
          labels:
            severity: warning
        - alert: ApacheActiveMQHighStoreMemoryUsage
          annotations:
            description: '{{ printf "%.0f" $value }} percent of store memory used on {{$labels.instance}} in cluster {{$labels.activemq_cluster}}, which is above the threshold of 70 percent.'
            summary: Store memory usage is high, which may result in producers unable to send messages.
          expr: |
            activemq_store_usage_ratio > 70
          for: 5m
          labels:
            severity: warning
        - alert: ApacheActiveMQHighTemporaryMemoryUsage
          annotations:
            description: '{{ printf "%.0f" $value }} percent of temporary memory used on {{$labels.instance}} in cluster {{$labels.activemq_cluster}}, which is above the threshold of 70 percent.'
            summary: Temporary memory usage is high, which may result in saturation of messaging throughput.
          expr: |
            activemq_temp_usage_ratio > 70
          for: 5m
          labels:
            severity: warning
