version: '3.6'
services:
  grafana:
    image: 'grafana/grafana:12.2.0@sha256:74144189b38447facf737dfd0f3906e42e0776212bf575dc3334c3609183adf7'
    environment:
      - 'GF_AUTH_ANONYMOUS_ENABLED=true'
      - 'GF_AUTH_ANONYMOUS_ORG_ROLE=Admin'
    ports:
      - '${GRAFANA_PORT:-3000}:3000'
    entrypoint:
      - 'sh'
      - '-euc'
      - |
        cat > /etc/grafana/provisioning/dashboards/haproxy.yml <<EOF
        apiVersion: 1
        providers:
          - name: 'haproxy'
            updateIntervalSeconds: 1
            allowUiUpdates: true
            options:
              path: '/var/lib/grafana/dashboards'
        EOF
        cat > /etc/grafana/provisioning/datasources/prometheus.yml <<EOF
        apiVersion: 1
        datasources:
          - name: 'prometheus'
            isDefault: true
            type: 'prometheus'
            access: 'proxy'
            url: 'http://prometheus:9090'
        EOF
        exec /run.sh
    volumes:
      - './dashboards:/var/lib/grafana/dashboards'

  prometheus:
    image: 'quay.io/prometheus/prometheus:v2.55.1@sha256:2659f4c2ebb718e7695cb9b25ffa7d6be64db013daba13e05c875451cf51b0d3'
    ports:
      - '${PROMETHEUS_PORT:-9090}:9090'
    volumes:
      - './development/prometheus.yml:/etc/prometheus/prometheus.yml'
  haproxy:
    image: 'haproxy:3.2.6@sha256:f64568fbe41eb6376dd3180ff4b8444ac4306b01b7374d9b0294ae15acb384b9'
    ports:
      - '${HAPROXY_PORT:-8080:80}'
    volumes:
      - './development/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg'
