.stats__row {
}

.stats__values {
  display: flex;
}

.stats__value {
  width: 10rem;
}

.stats__label {
  flex: 1;
}

.stats__line {
  height: 2px;
  background: linear-gradient(135deg, rgba(224, 255, 255, 1), rgba(16, 146, 233, 0.75));
  border-radius: 2px;
  margin-bottom: 1px;
}
