.stats__row {
}

.stats__values {
  display: flex;
}

.stats__value {
  width: 10rem;
}

.stats__label {
  flex: 1;
}

.stats__line {
  height: 3px;
  background: linear-gradient(135deg, rgba(224, 255, 255, 1), rgb(0, 255, 255));
  border-radius: 2px;
}
